#order{
    background: radial-gradient(circle, #c41d1d, #781212, #330808 );
    width: 80%;
    height: 5rem;
    color: whitesmoke;
    margin: 20px auto;
    text-align: center;
    text-shadow: 2px 2px black;
}