#order{
    background: radial-gradient(circle, #c41d1d, #781212, #330808 );
    width: 100%;
    height: 10rem;
    color: seashell;
    margin: 20px auto;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3rem;
}